@section CSS{
     <!-- Custom styles for this page -->
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}
    @model IEnumerable<Client.Models.Pengadaan>
        @*@model IEnumerable<Client.ViewModels.ViewModel>*@
@{
    ViewData["Title"] = "Kabag | Homepage";
    Layout = "_LayoutKabag";

}
@section Sidebar{
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-action="Index">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Pengadaan Barang</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active ">
            <a class="nav-link" asp-action="Index">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">


        <!-- Nav Item - Daftar Barang -->
        <li class="nav-item ">
            <a asp-action="Barang" class="nav-link">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Barang</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">


        <!-- Nav Item - Daftar Supplier -->
        <li class="nav-item">
            <a asp-action="Supplier" class="nav-link">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Supplier</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">


        <!-- Nav Item - Daftar Satuan -->
        <li class="nav-item">
            <a asp-action="Satuan" class="nav-link">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Satuan</span>
            </a>
        </li>
          <!-- Divider -->
        <hr class="sidebar-divider">


        <!-- Nav Item - Daftar Divisi -->
        <li class="nav-item">
            <a asp-action="Divisi" class="nav-link">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Divisi</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Riwayat -->
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Riwayat</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">


        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
}
<!-- Button trigger modal -->
<a asp-action="CreateSPB">
    <button type="button" class="btn btn-primary ml-4 mt-2 mb-4">
        Buat Permohonan Pengadaan Barang
    </button>
</a>

 <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Daftar Pengajuan Barang</h6>
    </div>
     <div class="card-body">
         <table id="dataTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Produk</th>
                    <th scope="col">Supplier</th>
                    <th scope="col">Kuantitas</th>
                    <th scope="col">Total</th>
                    <th scope="col">Divisi</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody >
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdBarangNavigation.NamaProduk)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdSupplierNavigation.Nama)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Kuantitas)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Totals)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.IdDivisiNavigation.Nama) 
                            @*harusnya gausah pake*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdStatusNavigation.Name)
                        </td>


                        <td>
                            @if(item.IdStatus == 1){
                                <a type="button" class="btn btn-info btn-sm" asp-action="EditSPB" asp-route-id="@item.Id">Edit</a>

                                <a type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#detail1" onClick="getDetails(@item.Id)">Details</a>
                                <a type="button" class="btn btn-danger btn-sm"  data-toggle="modal" data-target="#hapus">Delete</a>

                                <!-- Modal Hapus Data -->
                                <div class="modal fade" id="hapus" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Hapus Data</h5>

                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form >
                                                <div class="modal-body">
                                                    <p>Apakah anda yakin ingin menghapus data ?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary" asp-action="DeleteSPB" asp-route-id="@item.Id">Yes</button>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            }

                            @if (item.IdStatus != 1)
                            {
                                <a type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#detail" onclick="getDetails1(@item.Id)">Details</a>
                            }
                            <!-- Modal Detail Data -->
                            <div class="modal fade" id="detail1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Detail SPD</h5>

                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Informasi Barang</p>
                                            <table class="table table-sm">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Nama Barang</th>
                                                        @*<th scope="col">Supplier</th>*@
                                                        <th scope="col">Harga Satuan</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td id="UpdatePengadaanNamaBarang"></td>
                                                        @*<td id="UpdatePengadaanSupplier"></td>*@
                                                        <td id="UpdatePengadaanHarga"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <p>Informasi Supplier</p>
                                            <table class="table table-sm">
                                                <thead>
                                                    <tr>
                                                        @*<th scope="col">Id</th>*@
                                                        <th scope="col">Nama Supplier</th>
                                                        <th scope="col">Alamat</th>
                                                        <th scope="col">Kota</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        @*<th scope="row" id=""></th>*@
                                                        <td id="UpdatePengadaanSupplier"></td>
                                                        <td id="UpdatePengadaanSupplierAlamat"></td>
                                                        <td id="UpdatePengadaanSupplierKota"></td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal Detail Data After Awaiting-->
                            <div class="modal fade" id="detail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Detail SPD</h5>

                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Informasi Barang</p>
                                            <table class="table table-sm">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Nama Barang</th>
                                                       
                                                        <th scope="col">Harga Satuan</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td id="UpdatePengadaanNamaBarang1"></td>
                                                       
                                                        <td id="UpdatePengadaanHarga1"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <p>Informasi Supplier</p>
                                            <table class="table table-sm">
                                                <thead>
                                                    <tr>
                                                       
                                                        <th scope="col">Nama Supplier</th>
                                                        <th scope="col">Alamat</th>
                                                        <th scope="col">Kota</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        
                                                        <td id="UpdatePengadaanSupplier1"></td>
                                                        <td id="UpdatePengadaanSupplierAlamat1"></td>
                                                        <td id="UpdatePengadaanSupplierKota1"></td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </td>


                    </tr>
                }
            </tbody>
           </table>
    </div>
</div>

<!-- Modal Detail-->
<div class="modal fade" id="detail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detail Pengajuan</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

@*
<div class="card-body ">
    <table class="table table-bordered table-striped" id="MyTablePengadaan">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Nama Barang</th>
                <th scope="col">Supplier</th>
                <th scope="col">Kuantitas</th>
                <th scope="col">Total Harga</th>
                <th scope="col">Divisi</th>
                <th scope="col">Status Pengajuan</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="tbodySW">
        </tbody>
    </table>
</div>*@

@*<!-- Modal Edit Data Barang -->
<div class="modal fade" id="editPengadaan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Data Supplier</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form >
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label class="control-label">ID Pengajuan</label>
                        <input id="UpdatePengadaanId" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Divisi</label>
                        <input id="UpdatePengadaanDivisi" class="form-control" disabled />
                    </div>
                    @*<div class="form-group">
                        <label class="control-label">Nama Barang</label>
                        <input id="UpdatePengadaanNamaBarang" class="form-control" disabled />
                    </div>*@
                    @*<div class="form-group">
                        <label class="control-label">Nama Barang</label>
                        @*<input id="UpdatePengadaanNamaBarang" class="form-control" disabled />*@
                       @* <select id="UpdatePengadaanNamaBarang" class="form-control">
                            <option > Pilih Barang .. </option>
                            <option value="1"> Pulpen</option>
                            <option value="2"> Pensil</option>
                            <option value="3"> Kertas A4 </option>
                            <option value="4"> Map Kertas </option>
                            <option value="5"> Map Plastik </option>
                            <option value="6"> Buku Inventaris </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Supplier</label>**@
                        @*<input id="UpdatePengadaanSupplier" class="form-control" />*@
                       @* <select id="UpdatePengadaanSupplier" class="form-control">
                            <option> Pilih Supplier ..</option>
                            <option value="1"> PT. Angkasa Jaya</option>
                            <option value="2"> PT. Istimewa</option>
                            <option value="3"> PT. Maju Bersama </option>
                            <option value="4"> PT. Untung Sejahtera </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Kuantitas</label>
                        <input id="UpdatePengadaanKuantitas" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Total</label>
                        <input id="UpdatePengadaanTotal" class="form-control" disabled />
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label">Status Pngajuan</label>
                        <input id="UpdatePengadaanStatus" class="form-control" />
                    </div>

                    <div class="form-group row">
                        <div class="col">
                            <input type="button" onclick="updatePengadaan()" value="update" class="btn btn-success" data-dismiss="modal" />
                            <button type="button" data-dismiss="modal" class="btn btn-danger">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>*@

@section Scripts{

        <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
        <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>
    @*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
    <script src="~/js/Pengadaan.js"></script>



}
